<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navbar.ejs') %>
    <section class="container">  
      <h1><%= titulo %></h1>
      <p><%= corpo %></p>
    </section>
  <%- include('../includes/scripts.ejs') %>
</body>

</html>